<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Multiplication"
            android:exported="true">
        </activity>
        <activity
            android:name=".Addition"
            android:exported="true">
        </activity>
        <activity
            android:name=".Subtract_medium"
            android:exported="true">
        </activity>
        <activity
            android:name=".Division"
            android:exported="true">
        </activity>
        <activity
            android:name=".Division_easy"
            android:exported="true">
        </activity>
        <activity
        android:name=".Division_normal"
        android:exported="true">
        </activity>
        <activity
        android:name=".Division_medium"
        android:exported="true">
        </activity>
        <activity
            android:name=".Division_hard"
            android:exported="true">
        </activity>
        <activity
            android:name=".Subtract"
            android:exported="true">
        </activity>
        <activity
            android:name=".Multiplication_easy"
            android:exported="true">
        </activity>
        <activity
            android:name=".Addition_easy"
            android:exported="true">
        </activity>
        <activity
            android:name=".Addition_medium"
            android:exported="true">
        </activity>
        <activity
            android:name=".Subtract_normal"
            android:exported="true">
        </activity>
        <activity
            android:name=".Multiplication_normal"
            android:exported="true">
        </activity>
        <activity
            android:name=".Subtract_hard"
            android:exported="true">
        </activity>
        <activity
            android:name=".Multiplication_hard"
            android:exported="true">
        </activity>
        <activity
            android:name=".Multiplication_medium"
            android:exported="true">
        </activity>
        <activity
            android:name=".Subtract_easy"
            android:exported="true">
        </activity>
        <activity
            android:name=".Addition_hard"
            android:exported="true">
        </activity>
        <activity
            android:name=".ResultActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Addition_normal"
            android:exported="true">
        </activity>
    </application>

</manifest>